* {
    margin: 0px;
    box-sizing: border-box;
}

.todo-list-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 50px;
    background-color:  rgb(234, 173, 62);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 100px;
    border: black solid 2px;
}

.todo-list-logo {
    height: 50px;
}

.todo-list-heading {
    text-decoration: underline;
}

.todo-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.todo-options-small {
    display: none
}

.todo-options button {
    background-color: rgb(234, 173, 62);
    color: black;
    border: black solid 2px;
    height: 35px;
    width: 90px;
    border-radius: 10px;
}

.todo-options-label {
    font-size: larger;
}

.todo-options input {
    height: 30px;
    width: 500px;
    border-radius: 10px;
    border: black solid 2px;
}

.todo-list-elements li {
    padding: 10px;
}

.todo-list-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.todo-list-items button {
    background-color: rgb(234, 173, 62);;
    color: black;
    border: black solid 2px;
    height: 35px;
    width: 90px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .todo-options {
        width: 100vw;
    }
    
    .todo-options input {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        width: 250px;
        border-radius: 10px;
        border: black solid 2px;
    }

    .todo-options button {
        width: 50px;
    }

    .todo-options-small {
        display: none
    }
}

@media (max-width: 651px) {
    .todo-options {
        width: 100vw;
    }
    
    .todo-options input {
        display: flex;
        align-items: end;
        justify-content: end;
        height: 30px;
        width: 200px;
        border-radius: 10px;
        border: black solid 2px;
    }

    .todo-options button {
        width: 50px;
    }

}

@media (max-width: 450px) {
    .todo-options {
        display: none;
    }

    .todo-options-small {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
        margin-left: 5px;
        width: 100vw;
    }

    .todo-options-small input {
        height: 30px;
        border-radius: 10px;
        border: black solid 2px;
    }

    .todo-options-small button {
        height: 35px;
        width: 30px;
        border: 0px;
        background-color: white;
    }
}
  

@media (max-width: 376px) {
     .todo-list-header {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:  rgb(234, 173, 62);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 90px;
        border: black solid 2px;
        width: 100vw;
        margin-bottom: 20px;
    }

    .todo-options {
        display: none;
    }

    .todo-options-small {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100vw;
    }

    .todo-options-small input {
        height: 30px;
        width: 100px;
        border-radius: 10px;
        border: black solid 2px;
    }

    .todo-options-small button {
        height: 35px;
        width: 20px;
        border: 0px;
        background-color: white;
    }
} 

@media (max-width: 350px) {
    .todo-options {
        display: none;
    }

    .todo-options-small {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 20px;
        width: 100vw;
    }

    .todo-options-small input {
        height: 30px;
        width: 100px;
        border-radius: 10px;
        border: black solid 2px;
    }

    .todo-options-small button {
        height: 35px;
        width: 20px;
        border: 0px;
        background-color: white;
    }
    
    .todo-list-header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color:  rgb(234, 173, 62);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 70px;
        border: black solid 2px;
        width: 100vw;
        margin-bottom: 20px;
    }
}   
  
@media (max-width: 321px) {
    .todo-options {
        display: none;
    }

    .todo-options-small {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-bottom: 20px;
        width: 100vw;
    }

    .todo-options-small input {
        height: 20px;
        width: 100px;
        border-radius: 10px;
        border: black solid 2px;
    }

    .todo-options-small button {
        height: 35px;
        width: 15px;
        border: 0px;
        background-color: white;
    }
    
    .todo-options-small label {
        font-size: 16px;
    }

    .todo-list-header {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        background-color:  rgb(234, 173, 62);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 70px;
        border: black solid 2px;
        width: 100vw;
        margin-bottom: 20px;
    }
}   
  
